body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #bad0b4;
    color: rgb(31, 25, 25);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}

.logo-container {
    text-align: left;
}

.logo-container img {
    margin-left: 10%;
    width: 30%;
    height: auto;
}

header h1 {
    width: 90%;
}

main {
    flex: 1;
}

main h2 {
    margin-top: 30px;
    text-align: center;

}

footer {
    background-color: #bad0b4;
    color: rgb(31, 25, 25);
    padding: 25px;
    text-align: left;
}

.animated-line {
    position: absolute;
    top: 12%;
    left: 19%;
    width: 68.5%;
    height: 2px;
    background-color: #91bc91;
    transform-origin: 0% 70%;
    animation: drawLine 15s linear infinite; 
}

@keyframes drawLine {
    0% {
        transform: scaleX(0);
    }
    30% {
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1);
    }
    63% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(1);
    }
}


table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table_header {
    background-color: #bad0b4;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.pagination a {
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.pagination a.active {
    background-color: #b2ebb1;
    color: rgb(0, 0, 0);
    border: 1px solid #b2ebb1;
}

.pagination a.first-page-btn,
.pagination a.last-page-btn {
    background-color: #e6e8d7;
    border: 1px solid #ddd;
}

.pagination a.first-page-btn:hover,
.pagination a.last-page-btn:hover {
    background-color: #ddd;
}


